<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BUYSELL</title>
</head>
<body>
<h1>BUYSELL</h1><hr>
<h4>Авторизация</h4>
<form method="POST" action="/login" >
    Эл. почта: <input type="email" name="username" field="${username}"><br><br>
    Пароль: <input type="password" name="password" field="${password}"><br><br>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="submit" value="Вход"/>
</form>
<a th:href="@{/registration}">Зарегистрироваться</a>
</body>
</html>