<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BUYSELL</title>
</head>
<body>
<h1>BUYSELL</h1><hr>
<div th:if="${user.email}">
    <h3>Имя пользователя: <i th:text="${user.name}">Имя</i></h3>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <input type="submit" value="Выйти"/>
    </form>
    <div th:if="${user.isAdmin()}">
        <a href="/admin">Панель администратора</a>
    </div>
</div>
<div th:unless="${user.email}">
    <a href="/login">Войти</a>
</div>


<hr>
<h4>Товары со всей Беларуси</h4>
<form th:action="@{/}" method="get">
    Поиск по названию объявления: <input type="text" th:name="title"/>
    <input type="submit" value="Поиск"/>
</form>
<div th:each="product : ${products}">
    <div>
        <p><b th:text="${product.title}"></b> <span th:text="${product.price}"></span> BYN | <a th:href="@{/product/{id}(id=${product.id})}">Подробнее...</a></p>
    </div>
</div>
<div th:if="${#lists.isEmpty(products)}">
    <h3>Товаров нет</h3>
</div>
<div th:if="${user.email != null}">
<hr>
<h3>Создать новый товар</h3>
<form th:action="@{/product/create}" method="post" enctype="multipart/form-data">
    Название объявления: <input type="text" th:name="title"/><br>
    Описание объявления: <input type="text" th:name="description"/><br>
    Цена: <input type="number" th:name="price"/><br>
    Город: <input type="text" th:name="city"/><br>
    Первая фотография: <input type="file" th:name="file1"/><br>
    Вторая фотография: <input type="file" th:name="file2"/><br>
    Третья фотография: <input type="file" th:name="file3"/><br>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="submit" value="Добавить товар"/>
</form>
</div>
</body>
</html>