<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>BUYSELL</title>
</head>
<body>
<h1>BUYSELL</h1><hr>
<h3 th:text="'Редактирование пользователя ' + ${user.name}">Редактирование пользователя ИмяПользователя</h3>
<form action="/admin/user/edit" method="post">
    <div th:each="role : ${roles}">
        <label>
            <input type="checkbox" th:name="${role}" th:checked="${#lists.contains(user.roles, role)}" th:value="${role}" th:text="${role}"></input>
        </label>
    </div>
    <input type="hidden" th:value="${user.id}" name="userId">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <button type="submit">Сохранить</button>
</form>
</body>
</html>